

<mat-card fxFill fxLayout="column">
  <mat-card-header fxFlex="10">
    <mat-card-title>ROOM #{{decodedToken.idRoom}}</mat-card-title>
    <mat-card-subtitle>{{decodedToken.rol}}</mat-card-subtitle>
    <button mat-mini-fab color="warn" class="logout-button" (click)="openDialog()">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-card-header>

  <mat-card-content #scrollableDiv fxFlex="80" style="overflow-y: auto;">
    <table mat-table [dataSource]="dataSource" fxFlex="100">

      <ng-container matColumnDef="content">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="element.event=='NEW_MESSAGE'" [fxLayoutAlign]="element.ownMessage ? 'end' : 'start'">
            <div class="speech-bubble" [ngClass]="{'same-sender': element.sameSender, 'diff-sender': !element.sameSender, 'own-message': element.ownMessage}">
              <cite *ngIf="!element.ownMessage && !element.sameSender">{{element.senderAlias}}#{{element.senderId}}</cite>
              <p>{{element.input}}</p>
            </div>
          </div>
          <div *ngIf="element.event!='NEW_MESSAGE'" class="event-message">
            <div *ngIf="element.event=='USER_JOIN'" fxLayoutAlign="center">
              <p *ngIf="!element.ownMessage">{{element.senderAlias}}#{{element.senderId}} joined.</p>
              <p *ngIf="element.ownMessage">You joined.</p>
              <mat-icon [inline]="true" class="event-icon">person_add</mat-icon>
            </div>
            <div *ngIf="element.event=='USER_LEFT'" fxLayoutAlign="center">
              <p>{{element.senderAlias}}#{{element.senderId}} left.</p>
              <mat-icon [inline]="true" class="event-icon">person_remove</mat-icon>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns" style="display: none;"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>

  <mat-card-actions fxFlex="10">
    <form [formGroup]="chatFormGroup">
      <div fxLayout="row" fxLayoutAlign="center center">
        <mat-form-field fxFlex="90" appearance="outline">
          <input matInput type="text" formControlName="chatCtrl" required/>
        </mat-form-field>
        <button fxFlex="10" type='button' mat-button (click)="sendMessage()">Send</button>
      </div>
    </form>
  </mat-card-actions>
</mat-card>
