tbody {
  height: 100px;
  width: 100%;
  display: block;
}

td.mat-cell{
  border-bottom-style: none;
}

.speech-bubble {
  -webkit-filter: drop-shadow(-1px -1px 2px rgba(0, 0, 0, 0.1)) drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(-1px -1px 2px rgba(0, 0, 0, 0.1)) drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.15));
  padding: 1.5rem 2rem;
  position: relative; 
  /* font-family: "Source Sans Pro", sans-serif; */
  font-size: 1.1rem;
  /* font-weight: 400; */
  background: #c2dfe3;
  color: black; 
  max-width: 80%;
  word-break:break-all;
}

.speech-bubble cite {
  position: absolute;
  top: -1.5rem;
  left: 0.5rem;
  font-size: 1rem;
  font-style: normal;
  letter-spacing: 0.5px;
  white-space: nowrap;
  color: black;
}

.own-message {
  background: #9db4c0;
}

.same-sender {
  margin-top: 0.5rem;
}

.diff-sender {
  margin-top: 2.5rem;
}

.logout-button {
  position: fixed;
  right: 10px;
}

mat-card-header {
  text-transform: uppercase;
}

