
<mat-dialog-content>
  <mat-horizontal-stepper linear #dialogStepper>
    <mat-step [stepControl]="userFormGroup" [completed]="isUserDone">
      <form [formGroup]="userFormGroup">
        <mat-tab-group mat-stretch-tabs animationDuration="0">
          <mat-tab>
            <ng-template mat-tab-label><h2>Choose an user</h2></ng-template>
            <p></p>
            <div fxLayout="column" fxLayoutAlign="space-evenly">
              <mat-form-field appearance="outline">
                <mat-label>Alias</mat-label>
                <input matInput formControlName="aliasCtrl" required>
              </mat-form-field>
              <button mat-button (click)="createUser()" [disabled]="!userFormGroup.valid">Next</button>
            </div>
          </mat-tab>
        </mat-tab-group>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <mat-tab-group mat-stretch-tabs animationDuration="0">
          <mat-tab>
            <ng-template mat-tab-label><h2>Create</h2></ng-template>
            <div fxLayout="column" fxLayoutAlign="space-evenly">
              <p></p>
              <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput formControlName="passwordCtrl" required>
              </mat-form-field>
              <button mat-button (click)="createRoom()">Create</button>
            </div>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label><h2>Join</h2></ng-template>
            <div fxLayout="column" fxLayoutAlign="space-evenly">
              <p></p>
              <mat-form-field appearance="outline">
                <mat-label>Code Room</mat-label>
                <input matInput formControlName="codeRoomCtrl" required>
              </mat-form-field>
              <button mat-button>Join</button>
            </div>
          </mat-tab>
        </mat-tab-group>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
</mat-dialog-content>