:host ::ng-deep .mat-horizontal-stepper-header-container { display: none; }

:host ::ng-deep .mat-dialog-content {
  padding: 0px;
}
/* :host ::ng-deep .mat-horizontal-content-container { padding: 12px; } */

mat-form-field {
  width: 100%;
}
mat-form-field {
  display: block;
}
